$app-moss-green-palette: (
  50 : #f0f4eb,
  100 : #d9e5bf,
  200 : #c1d692,
  300 : #a9c766,
  400 : #92b93f,
  500 : #7FAF39, // Your provided color #7FAD39
  600 : #6c9634,
  700 : #587d2e,
  800 : #456329,
  900 : #324f24,
  A100 : #d3e8c5,
  A200 : #b0dcaa,
  A400 : #8eb28e,
  A700 : #6b9a73,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);